body {
    margin: 0;
    font-family: 'KoHo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
body * {box-sizing: border-box}
a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}
img {
    width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
}
h2 {
    font-size: 72px;
    font-weight: 500;
}
h3 {
    font-size: 64px;
    font-weight: 500;
}
h4 {
    font-size: 32px;
    font-weight: 400;
}
h5 {
    font-size: 24px;
    font-weight: 400;
}
h6 {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}
.background {
    background-color: #fdfdfd;
}
header {
    margin: 0 auto;
    padding: 60px 124px;
}
header .logo {
    width: 193px;
}
header .mobile-menu-container {
    display: none;
}
.main-menu {
     display: flex;
     justify-content: space-between;
    align-items: center;
}
nav a {
    display: block;
}
nav a:hover {
    border-top: 2px solid #ce7cb2;
}
ul.menu {
    list-style: none;
    margin: 0;
    font-size: 24px;
    padding-left: 0;
    display: flex;
}
ul.menu li {
    padding-left: 50px;
}
ul.menu li img {
    width: 35px;
    vertical-align: middle;
}
body.modal-opened {
    overflow: hidden;
}
.pink-bg {
    background-color: #fee9e2;
}
.banner {
    display: flex;
    position: relative;
}
.flower {
    position: absolute;
    width: 300px;
}
.home .banner-text .flower {
    right: -26%;
    top: 20%;
}
.choose-us .banner-text .flower{
    right: -23%;
    bottom: -13%;
}
.flower-left {
    left: -2%;
    bottom: -10%;
}
.flower-right {
    right: -2%;
    bottom: -10%;
}
.banner-text {
    max-width: 60%;
    position: relative;
   /* padding: 127px 127px 46px 40px;*/
    padding: 7% 7% 0 2%;
}
.banner-text p {
    color: #4c4c4c;
    max-width: 340px;
    letter-spacing: 0.32px;
}
.banner-text h2 {
    width: 340px;
}

.clear-img {
    font-size: 0;
}
button.pink-btn {
    background-color: #ce7cb2;
    outline: none;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'KoHo', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: none;

    width: 170px;
    padding: 6px 0 6px;
}
button.pink-btn:hover {
    background-color: #eea7d6;
}
button.pink-btn:active {
    background-color: #a86792;
}
.about {
    text-align: center;
    padding: 11% 0 6%;
}
.about-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    grid-gap: 5%;
}
.about-item {
    padding-top: 36px;
}
.about-item h4 {

}
.about-item .icon-size {
    margin: 0 auto;
}
.about-item .icon-size img {
    height: 74px;
    width: auto;
}
#catalog {
    position: relative;
    padding-bottom: 102px;
}
#catalog h2 {
    position: relative;
    top: 196px;
    left: 177px;
}
#catalog .flower {
    top: 79px;
    left: -117px;
    width: 358px;
    z-index: 10;
}
#catalog .slider-for img {
    width: auto;
    height: 509px;
}
.slider-for {
     left: 53%;
 }
.slider-nav {
    width: 53%;
    /*top: -213px;*/
    bottom: 102px;
    position: absolute;
}
.slider-nav .slick-slide img {
    width: auto;
    height: 213px;
    margin: 0;
    padding: 0;
}
.slide-text {
    padding-top: 97px;
    width: 179px;
    position: absolute;
    left: 26%;
    top: 0;
    color: rgba(0, 0, 0, 0.7);
}
.slide-text p {
    padding-top: 54px;
    margin: 0;
    letter-spacing: 0.32px;
    font-weight: 300;
}
.slide-text h5 {
    color: #000000;
}
.slick-next {
    right: -430px;
    bottom: 8%;
}
.slick-prev {
    right: -380px;
    bottom: 8%;
}

.slick-prev:before {
    content: url("../images/arrow-left.png");
    position: absolute;
    opacity: 0.85;
}

.slick-next:before {
    content: url("../images/arrow-right.png");
    position: absolute;
    opacity: 0.85;
}

/*.catalog-slider {*/
    /*justify-content: space-between;*/
/*}*/
/*.slider-content {*/
    /*margin-left: 20px;*/
/*}*/
.mini-wrap {
    max-width: 815px;
    margin: 0 auto;
}
.order {
    position: relative;
    text-align: center;
    padding: 44px 0 48px;
}
.order p {
    font-size: 18px;
    max-width: 97%;
}
.order-form {
    display: grid;
    margin: auto;
    align-items: end;
    grid-template-columns: 46% 45%;
    grid-gap: 15px;
    justify-content: center;
}
.order-form input[type="text"] {
    grid-area: inputAreaName;
}
.order-form input[type="number"] {
    grid-area: inputAreaPhone;
}
.order-form label {
text-align: left;
    display: block;
}
.order-form input,
.order-form textarea,
.input-row label.file-upload-box {
    padding: 14px 0 13px 12px;
    margin-top: 6px;
    width: 100%;
    /*width: 370px;*/
    color: #665566;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: 0.5s;
/*    margin-bottom: 15px;*/
    font-size: 15px;
}

.order .order-form textarea {
    resize: none;
    min-height: 250px;
    width: 768px;
}
.order button {
    margin: 0 auto;
}
.order-form input::placeholder,
.order-form textarea::placeholder {
    color: rgba(113, 111, 111, 0.5);
    font-weight: 200;
}
.order-form input:focus,
.order-form textarea:focus {
    background-color: #ffe2f7;
    border-left: 5px solid #ffb8ee;
}
.order-form .grid-block-big {
    display: grid;
    max-width: 768px;
}
.input-row label.file-upload-box {
    background: #ffffff url("../images/plus.png") 96% 50% no-repeat;
    height: 47px;
    color: rgba(113, 111, 111, 0.5);
}
.input-row label.file-upload-box input#upload-input {
    display: none;
}
.contact-us {
    padding: 5% 4%;
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 45% 50%;
    justify-content: center;
}
.contact-info {
    max-width: 74%;
}
.contact-info p {
    font-size: 18px;
    letter-spacing: 0.36px;
    color: rgba(0, 0, 0, 0.7);
}
footer {
    background-color: #794f63;
    color: #ffffff;
    display: grid;
    grid-template-columns: 20% 20% 40% 20%;
    padding: 1% 15% 5% 10%;
}
footer a {
    color: #ffffff;
    display: inline-block;
    padding-right: 5px;
}
footer .footer-menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 14px;
    font-weight: 300;
}
footer .footer-socials img {
    width: 31px;
}
footer .footer-contact span {
    font-size: 14px;
}
.modal-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-overlay.active {
    display: flex;
    z-index: 999;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.modal-body {
    width: 600px;
    min-height: 400px;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 24px;
    margin: auto;
    position: absolute;
    z-index: 1001;
}

@media screen and (max-width: 1202px) {
    header {
        padding: 3% 8%;
    }
    ul.menu li {
        font-size: 19px;
    }
    .banner h2 {
        font-size: 64px;
    }
    .banner p {
        font-size: 12px;
    }
    .flower {
        width: 240px;
    }
}
/*для айпад про*/
@media screen and (max-width: 1024px) and (min-width: 769px) {

    .banner {
        flex-wrap: wrap;
    }
    .banner .banner-text h2,
    .banner .banner-text p {
        width: 100%;
        max-width: 800px;
    }
    .banner-text {
        max-width: 900px;
        padding: 1% 6% 1% 2%;
    }
    .banner-text button {
        position: absolute;
        top: 23%;
        right: 8%;
    }
    .contact-info {
        max-width: 100%;
    }
    .contact-info h3 {
        font-size: 56px;
    }
    .contact-info p {
        font-size: 12px;
    }
    footer {
        grid-template-columns: 20% 20% 35% 25%;
    }

}

@media screen and (max-width: 1024px) {
    header .menu {
        display: none;
    }
    header .mobile-menu-container {
        display: inline-flex;
        position: relative;
    }
    .mobile-menu-container label {
        cursor: pointer;
        position: fixed;
        top: 20px;
        right: 20px;
        transition: left .23s;
        z-index: 3;
        width: 25px;
    }
    header .mobile-menu {
        display: block;
        position: fixed;
        list-style:none;
        padding: 20px 10px;
        width: 250px;
        background-color: #eee;
        height: 100%;
        top: -17px;
        right: -450px;
        transition: right .2s;
        z-index: 2;
    }

    header .mobile-menu-container input:checked ~ label {
        left: 160px;
    }
    header .mobile-menu-container input:checked ~ .mobile-menu {
        right: 0;
    }
    .mobile-menu-container li {
        text-transform: uppercase;
        padding: 10px 0 10px 20px;
    }
    .mobile-menu-container li a {
        color: #000000;
        font-weight: bold;
    }
    .mobile-menu-container li a:hover {
        border-top: 2px solid #ff6033;
    }
    .mobile-menu-container li a {
        padding-top: 6px;
        transition: 0.3s;
    }

}

/*для айпад */
@media screen and (max-width: 768px) {

    .order-form input {
        display: block;
    }
    .order-form {
        grid-template-columns: 80%;
        grid-template-rows: repeat(auto-fill, minmax(50px, 70px));
        justify-content: center;

    }
   /* .input-row {
        margin: 0 auto;
    }*/
    .order .order-form .input-hide {
        display: none;
    }
    .mini-wrap {
        padding-right: 3%;
        padding-left: 3% ;
    }
    .about-container {
        grid-template-columns: 75%;
        grid-template-rows: 30% 30% 30%;
    }
    .banner .clear-img img{
        display: none;
    }
    .home {
        background: url("../images/photo_header.png") no-repeat 50% 50%;
        background-size: cover;
    }
    .choose-us {
        background: url("../images/photo_section.png") no-repeat 50% 50%;
        background-size: cover;
    }
    .banner .banner-text {
        background-color: rgba(255, 255, 255, 0.5);
        padding-bottom: 2%;
    }
    #home .banner-text .flower,
    #choose-us .banner-text .flower {
        display: none;
    }

    .contact-info h3 {
        font-size: 26px;
    }
    .contact-info p {
        font-size: 10px;
    }
    .order h3 {
        font-size: 36px;
        padding-bottom: 6%;
    }
    .order p {
        display: none;
    }
    .order .flower {
        width: 150px;
    }
    footer {
        grid-template-columns: 25% 35% 35%;
        padding: 2% 2%;
    }
    footer nav {
        display: none;
    }
    footer .footer-logo h4 {
        font-size: 24px;
    }

}
/*для айфонХ */
@media screen and (max-width: 375px) {}
/*для айфон 8 про*/
@media screen and (max-width: 414px) {
    footer {
        grid-template-columns: 45% 45%;
        padding: 2% 2%;
    }
    footer .footer-logo {
        display: none;
    }

}



